@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    A stock tracking tool with sec data for any stock.
</p>
<p>
    NONE OF THE DATA THIS WEBSITE PRESENTS IS MEANT TO BE FINANCIAL ADVICE. THE WEBSITE IS PURELY FOR EDUCATIONAL PURPOSES.
    ALL INVESTMENTS ARE SUBJECT TO MARKET RISK, REFER TO A LICENSED INVESTMENT CONSULTANT FOR TRADING ADVICE.
</p>
